<!-- Start Gallery -->
<section id="mu-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-gallery-area">

          <div class="mu-title">
            <span class="mu-subtitle">Discover</span>
            <h2>Our Gallery</h2>
          </div>

          <div class="mu-gallery-content">

            <!-- Start gallery image -->
            <div class="mu-gallery-body">
              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                  <div class="mu-single-gallery-item">
                    <figure class="mu-single-gallery-img">
                      <a class="mu-imglink" href="<%= image_path 'gallery/1.jpg' %>">
                        <%= image_tag 'gallery/1.jpg', alt: "img" %>
                         <div class="mu-single-gallery-info">
                            <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>

                        </div>
                      </a>
                    </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                   <div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="<%= image_path 'gallery/2.jpg' %>">
                          <%= image_tag 'gallery/2.jpg', alt: "img" %>
                           <div class="mu-single-gallery-info">
                              <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>
                          </div>
                        </a>
                      </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                   <div class="mu-single-gallery-item">
                    <figure class="mu-single-gallery-img">
                      <a class="mu-imglink" href="<%= image_path 'gallery/3.jpg' %>">
                        <%= image_tag 'gallery/3.jpg', alt: "img" %>
                         <div class="mu-single-gallery-info">
                            <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>
                        </div>
                      </a>
                    </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                  <div class="mu-single-gallery-item">
                    <figure class="mu-single-gallery-img">
                      <a class="mu-imglink" href="<%= image_path 'gallery/4.jpg' %>">
                        <%= image_tag 'gallery/4.jpg', alt: "img" %>
                         <div class="mu-single-gallery-info">
                            <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>
                        </div>
                      </a>
                    </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                  <div class="mu-single-gallery-item">
                    <figure class="mu-single-gallery-img">
                      <a class="mu-imglink" href="<%= image_path 'gallery/5.jpg' %>">
                        <%= image_tag 'gallery/5.jpg', alt: "img" %>
                         <div class="mu-single-gallery-info">
                            <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>
                        </div>
                      </a>
                    </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                 <div class="mu-single-gallery-item">
                    <figure class="mu-single-gallery-img">
                      <a class="mu-imglink" href="<%= image_path 'gallery/6.jpg' %>">
                        <%= image_tag 'gallery/6.jpg', alt: "img" %>
                         <div class="mu-single-gallery-info">
                            <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>
                        </div>
                      </a>
                    </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                  <div class="mu-single-gallery-item">
                    <figure class="mu-single-gallery-img">
                      <a class="mu-imglink" href="<%= image_path 'gallery/7.jpg' %>">
                        <%= image_tag 'gallery/7.jpg', alt: "img" %>
                         <div class="mu-single-gallery-info">
                            <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>
                        </div>
                      </a>
                    </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                  <div class="mu-single-gallery-item">
                    <figure class="mu-single-gallery-img">
                      <a class="mu-imglink" href="<%= image_path 'gallery/8.jpg' %>">
                        <%= image_tag 'gallery/8.jpg', alt: "img" %>
                         <div class="mu-single-gallery-info">
                            <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>
                        </div>
                      </a>
                    </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

              <!-- start single gallery image -->
              <div class="mu-single-gallery col-md-4">
                  <div class="mu-single-gallery-item">
                    <figure class="mu-single-gallery-img">
                      <a class="mu-imglink" href="<%= image_path 'gallery/9.jpg' %>">
                        <%= image_tag 'gallery/9.jpg', alt: "img" %>
                         <div class="mu-single-gallery-info">
                            <%= image_tag 'plus.png', class: "mu-view-btn", alt: "plus icon img" %>
                        </div>
                      </a>
                    </figure>
                  </div>
              </div>
              <!-- End single gallery image -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Gallery -->
