<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="booking-bg">
            <div class="form-header">
              <h2>Make your reservation</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam numquam at</p>
              <p>Made with <span style="color: #ffff;">&hearts;</span> by <a href='https://github.com/gilbertlc/' target='_blank' class='gilbertlc'>gilbertlc</a></p>
            </div>
          </div>

          <%= form_for @reservation, remote: true do |f| %>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Name</span>
                  <%= f.text_field :name, 
                    class: 'form-control',
                    required: true %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Email</span>
                  <%= f.email_field :email, 
                    class: 'form-control',
                    required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Phone Number</span>
                  <%= f.telephone_field :phone, 
                    class: 'form-control',
                    required: true %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Guests</span>
                  <%= f.select :number_of_guests,
                    (1..5).to_a,
                    { prompt: 'How Many?' },
                    class: 'form-control',
                    required: true  %>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Check In</span>
                  <%= f.datetime_field :date_time, class: 'form-control', required: true %>
                      
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Check Out</span>
                  <%= f.datetime_field :end_date_time, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="reservation-form-messages"></div>
              </div>
            </div>
            <div class="form-btn">
              <%= f.submit 'Check availability', class: 'submit-btn' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

