<!-- Start Footer -->
<footer id="mu-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="mu-footer-area">
        <div class="newsletter-area">
          <div class="mu-title">
            <span class="mu-subtitle">Subscribe To Our</span>
            <h2>Newsletter</h2>
          </div>
          <p>
            Join our subscribers list to get the latest news, updates and special
              offers delivered directly in your inbox.
          </p>

          <%= form_tag subscribers_path, remote: true, id: 'newsletter_form', class: "mu-reservation-form" do %>
            <%= email_field_tag 'subscribers[email]', nil, class: 'form-control', placeholder: 'Email address' %>
            <div id='email_validation_msg'>
            </div>
            <%= button_tag 'Subscribe', class: 'mu-readmore-btn' %>
          <% end %>
        </div>
        <div class="mu-footer-social">
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-youtube"></span></a>
          <a href="#"><span class="icon-linkedin2"></span></a>
          <a href="#"><span class="icon-google-plus2"></span></a>
        </div>
        <div class="mu-footer-copyright">
          <p>&copy; <%= Date.current.year %> Copyright <%= link_to "Italian Cuisine", root_path %>. All right reserved.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
